.topo {
    align-items: center;
    display: flex;
    justify-content: space-around;
    padding: 1em 0;
}

.topo__links {
    margin-right: 8em;
}

.topo__links a {
    color: var(--cinza);
    margin-right: 2em;
    text-decoration: none;
}

.topo__botoes a{
    color: var(--cinza);
    margin-right: .5em;
    text-decoration: none;
}

.topo__botoes a:last-child {
    background: var(--cor-principal);
    border-radius: 8px;
    color: white;
    padding: .5em 1em;
}